@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-3xl;
  }
  p {
    @apply text-sm lg:text-lg;
  }
}
